:root {
  --accent: #7a6081;
}

* {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', 'Roboto', sans-serif;
    line-height: 1.4;
    min-height: 100vh
  }
    
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  main,
  body {
    min-height: 100vh;
    background-color: white;
  }

  body {
    background: linear-gradient(45deg, transparent 49%, #f5f4f7 49% 51%, transparent 51%) , linear-gradient(-45deg, transparent 49%, #f5f4f7 49% 51%, transparent 51%);
        background-size: 6em 6em;
        background-color: #ffffff;
        opacity: 1
  }

  header {
    background-color: #e7e7e7;
    padding: 2em;
  }

  header h2 {
    padding: 0;
  }

  main {
    max-width: 50em;
    margin: 0 auto;
    box-shadow: 0 0 50px rgb(230, 230, 230);
  }

  .main-section {
    padding: 2em;
  }

  .main-section ul {
    background-color: #f1f1f1;
    padding: 1em 0 1em 2em;
    border-radius: 5px;
  }

  a {
    color: var(--accent);
    text-decoration: none;
  }

  h2 {
    padding: 1em 0 0.5em 0;
  }

  nav {
    background-color: var(--accent);
    display: flex;
    padding: .5em 2em;
    gap: 1em;
  }

  nav a {
    color: white
  }

  a span {
    color: rgb(167, 167, 167);
  }

  .daemi {
    list-style: square;
  }
  
  hr {
    margin: 0.5em 0 1em 0;
  }

  h4 {
    padding-bottom: 0.5em;
  }

  hr {
    border-top: #d8d8d8 1px solid;
  }

